<div fxLayout="row" fxLayoutAlign="space-between">
  <h1>{{ !!isEditFlowActive ? 'Edit book' : 'Create a book' }}</h1>

  <button mat-button (click)="onNavigateToCatalog()">
    <mat-icon>arrow_back</mat-icon>
    GO TO BOOK LIST
  </button>
</div>

<div fxLayout="row">
  <form fxFlex [formGroup]="bookForm" (ngSubmit)="bookForm.valid && onFormSubmit()">
    <fieldset>
      <div fxLayout="column">
        <mat-form-field appearance="outline">
          <mat-label>Title</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Author</mat-label>
          <input matInput formControlName="author">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Poster Imagen Path</mat-label>
          <input matInput formControlName="posterImgPath">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-checkbox formControlName="favorite">Favorite</mat-checkbox>
      </div>

      <div fxLayoutAlign="end" fxLayoutGap="16px">
        <button type="submit" mat-raised-button color="primary">SAVE</button>
      </div>
    </fieldset>
  </form>
</div>
