:host {
  margin: 8px;

  .example-card {
    max-width: 400px;

    mat-card-header {
      position: relative;

      .example-header-image {
        // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
        background-size: cover;
      }

      button {
        position: absolute;
        right: -16px;
      }
    }
  }
}
